<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chuck Norris Quote</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chucknorris.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/chucknorris.css">
</head>
<body>

    <div class="container">
        <h1>A quote from Chuck Norris</h1>
        <div>
            <blockquote th:text="${joke}">
                A random Quote of Chuck Norris.
            </blockquote>
        </div>

        <a th:href="@{/}" class="refresh">Actualiser</a>
    </div>
</body>
</html>